@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ray';
    src: url('../public/fonts/Ray-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'ray';
    src: url('../public/fonts/Ray.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'ray-reg';
    src: url('../public/fonts/Ray-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'ray';
    src: url('../public/fonts/Ray-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'ray';
    src: url('../public/fonts/Ray-ExtraBlack.ttf');
    font-weight: 900; }

* {
    @apply font-rayreg
}

.font-black , .font-bold{
    @apply font-ray
}


.center {
    @apply grid place-content-center
}

.flexCenter {
    @apply flex justify-center items-center
}


.all-unset {
    all: unset;
}

@layer utilities {

    .round {
        @apply rounded-[28px]
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE/Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

/* @font-face {
    font-family: 'trajan-regular';
    src: url('/public/fonts/TrajanPro-Regular.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trajan-bold';
    src: url('/public/fonts/TrajanPro-Bold.otf') format("ttf");
    font-weight: normal;
    font-style: normal;
} */