@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-[Ray];
}

.center {
    @apply grid place-content-center
}

.flexCenter {
    @apply flex justify-center items-center
}



@layer utilities {

    .round {
        @apply rounded-[28px]
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE/Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

/* @font-face {
    font-family: 'trajan-regular';
    src: url('/public/fonts/TrajanPro-Regular.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trajan-bold';
    src: url('/public/fonts/TrajanPro-Bold.otf') format("ttf");
    font-weight: normal;
    font-style: normal;
} */